
body {background-color: #E3E3D3;
	font-family: Georgia, serif;}


html, body {
  margin: 0;
  padding: 0;
}

#selecttamanho {margin: 30px;}

.produtos {background-color: #EEEEEE;
		width: 500px;
		height: 550px;
		text-align:center;
		margin-left: 500px;
		padding: 20px;
		}

.botaocarrinho {font-size: 15px;
								padding: 8px;
								background-color: #E3E3D3;
								font-family: Georgia, serif;
								margin: 10px;}


table {border: 0px solid black;}

td {border: 0px solid black;}


th {border: 0px solid black;}