
body {background-color: #E3E3D3;
	font-family: Georgia, serif;}


html, body {
  margin: 0;
  padding: 0;
}

#selecttamanho {margin-top: 30px;}

.produtos {background-color: #EEEEEE;
		width: 400px;
		height: 400px;
		text-align:center;
		margin: 30px;
		margin-left: 120px;
		padding: 20px;
		}

.botaocarrinho {font-size: 15px;
								padding: 8px;
								background-color: #E3E3D3;
								font-family: Georgia, serif;
								margin: 10px;}


.caixaprodutosunicos {width: 500px;
											height: 200px;
											float: left;
											margin-right: 400px;
											margin-bottom: 250px;}


.espacobotaoprodutos {margin-top: 50px;
											}


table {border: 0px solid black;}

td {border: 0px solid black;}


th {border: 0px solid black;}