
body {background-color: #E3E3D3;
	font-family: Georgia, serif;}


html, body {
  margin: 0;
  padding: 0;
}



.produtos {background-color: #EEEEEE;
		width: 500px;
		height: 470px;
		text-align:center;
		margin-left: 500px;
		padding: 20px;
		}



table {border: 0px solid black;}

td {border: 0px solid black;}


th {border: 0px solid black;}