
html, body {margin: 0;
  	padding: 0;}

body {background-color: #E3E3D3;
	font-family: Georgia, serif;}





#cabecalho {background-color: #786C6C;
            width: 100%;
            height: 150px;}


#navegacao {float: right;
		margin-top: 50px;
		margin-right: 50px;
		background-color: #EEEEEE;
		padding: 10px;
		border-radius: 15px;}





.legenda {font-style: italic;
					font-family: Georgia, serif;}




/*legenda img sobre nos*/

.legenda2 {font-style: italic;
					font-family: Georgia, serif;
					width: 400px;
					margin-left: 60px;
					display: inline-block;
					}





.produtos {background-color: #EEEEEE;
		width: 200px;
		height: 430px;
		padding: 30px;
		border-radius: 15px;
		display: inline-block;}



#carrinhobotao {margin-left: 43%;
				margin-top: 40px;
				font-size: 20px;
				text-decoration: none;
				background-color: #EEEEEE;
				padding: 20px;
				width: 150px;
				border-radius: 15px;}


.imgsobrenos {background-color: #EEEEEE;
		width: 500px;
		height: 500px;
		padding: 20px;
		border-radius: 15px;
		margin-left: 80px;
		margin-top: 50px;
		margin-bottom: 50px;
		display: inline-block;}


.rodape {text-align: center;
	width: 100%;
	height: 50px;
	margin-top: 50px;}



li {
  display: inline;
}


li a {padding: 8px;}




